 body {
     background-color: #dae3e3;
     font-size: 1 em;
     margin-top: 1rem;

 }

 #titre {
     font-size: 1.5em;
 }

 #cgu {
     background: none;
 }

 #reglement {
     background: none;
 }

 nav {
     margin-bottom: 50px;
 }

 .iframe {
     padding-left: 15px;
 }

 #news {
     border: 1px #808080 solid;
 }

 #visite {
     border: 1px #808080 solid;
 }

 #films {
     font-size: 1.0em;
 }

 #cinema {
     margin-bottom: 25px;
     margin-top: 15px;
 }

 
  
  .dropdown:hover select {
    max-height: 200px; 
    transition: max-height 0.25s ease-in;
  }
  
 #reglement {
     -webkit-column-count: 3;
     -moz-column-count: 3;
 }

 #cgu {
     -webkit-column-count: 3;
     -moz-column-count: 3;
 }
.row.test {
    margin-top: 46px;
}
 #ticket {
     margin-bottom: 30px;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 @media (max-width: 768px) {
     .iframe {
         margin-bottom: 10px;
     }
 }

 @media (max-width: 576px) {

     .court_metrage {
         padding-bottom: 10px;
     }

     #reglement,
     #cgu {
         -webkit-column-count: 1;
         -moz-column-count: 1;
     }

     #visiter h2 {
         font-size: 1.5em;
     }

     #titre {
         font-size: 1.1em;
     }

 }

 /* Desktops*/
 @media (min-width: 992px) {
 }

 @media (min-width: 1200px) {
 }

 @media (max-width: 525px) {
    .toto {
        display: none !important;
    }
    .resp {
        font-size: 12px;
    }
    .drop {
        font-size: 11px;
    }
    .ticket {
        max-width: 30%;
    }
    .resa {
        font-size: 20px;
        text-align: center;
    }
 .sol {
    font-size: 11px;
    font-weight: 100;
    color:rgb(158, 112, 112);
    text-align: center;
 }
 .title {
    font-size: 2.5rem;
 }
 .container {
    font-size: 0.8rem;
 }
 body h4 {
    font-size: 1rem;
 }
}
